/* Normalization of styles to ensure consistency between development and assembly. */
@layer base {
	/* Basic settings for HTML and body */
	html {
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		text-size-adjust: 100%;
		font-size: 16px; /* Базовый размер шрифта */
	}

	body {
		font-family:
			-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
		font-size: 1rem;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin: 0;
		padding: 0;
	}

	/* We reset margin and padding for consistency. */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* Normalization of header sizes */
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.17em;
	}
	h4 {
		font-size: 1em;
	}
	h5 {
		font-size: 0.83em;
	}
	h6 {
		font-size: 0.67em;
	}

	/* Fixing sizes for elements with large fonts */
	.large-text {
		font-size: 2.5em;
		line-height: 1.2;
	}
}
