@use "sass:color";
@use "variables" as *; // Importing variables without a prefix
@use "mixins" as mix; // Importing mixes with the prefix mix

@use "base";
@use "layout";
@use "about";
@use "contact";

@layer themes {
	/* Styles for themes will be added later*/

  // Styles for the ReactHooks module
	.app-container:has(#route-hooks) {
		$background-color: rgb(226, 226, 226); // Change background color for the route-hooks container only
		.app-header {
			background-color: $background-color;
		}
	}

  .user-statistics-wrapper {
    h2 {
      color: #3b82f6;
    }

    h2::before{
      content: "\1F4CA";
      color: #3b82f6;
      margin-right: 0.5rem;
      font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
      border: none;
    }

    .card-content {
      h2::before {
        content: "";
        margin-right: 0;
      }
    }
  }

}
